.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

cabecalho{
    display: block;
    unicode-bidi: isolate;
}

.cabecalho-menu-item{
    text-decoration: none;
    color: rgb(0, 0, 0)
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.2s;
}

.cabecalho-menu-item {
    background-color: rgb(0, 0, 0)
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.2s;
}
.problema
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
    min-height: 80vh;
    gap: 30px;
}


.problema-texto{
    flex:1;
}

.problema-titulo{
    font-size: 3rem;
    color: green
    line-height: 1.2;
    margin-bottom: 20px;
}